<title>Haqqımızda</title>
{% extends "app/base.html" %}

{% block content %}
            <!-- Begin latest news -->
            <section class="section section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <div class="section-subheading"></div>
                                <h2>Haqqımızda</h2>
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-style">
                                <img src="/static/app//logo/indikator-logo.jpg" alt="">
                            </div>
                            <p>İndikator Avto 2018-ci ildə ilk olaraq avtomobil ehtiyat hissələrinin satışı ilə
                                fəaliyyətə başlayıb. Mercedes Benz, Hyundai, Kia, Toyota, Nissan kimi markaların ehtiyat
                                hissələrinin satışı həyata keçirilir. 1 il sonra isə eyni zamanda servis xidməti də
                                təskil edilmişdir. Hazırda servisimizdə çilingər, mühərrikçi, elektrik fəalliyyət
                                göstərməkdədir. Qısa zamanda bir neçə əlavə xidmət də təşkil olunacaq. Servisimizdə ayrı
                                olaraq mühərrik yağlarının dəyişdirilməsi üçün xüsusi mərkəz də var.
                                Əsas prinsipimiz müştərilərə hər zaman keyfiyyətli məhsullar təqdim etmək və keyfiyyətli
                                xidmət göstərməkdir.</p>
                            <h5>Xüsusiyyətlərimiz</h5>
                            <ul>
                                <li>Yüksək keyfiyyət</li>
                                <li>Sərfəli qiymət</li>
                                <li>Ən yeni məhsullar</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><!-- End latest news -->

        </div>

        {% endblock %}