<!DOCTYPE html>
<html class="ios ipad tablet landscape" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">

    

    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <link rel="stylesheet" href="/static/app/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app//css/ecommerce.css">
    <link rel="stylesheet" href="/static/app//css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/app//logo/Icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/app//logo/Icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/app//logo/Icon/favicon-16x16.png">
    <link rel="manifest" href="/static/app//logo/Icon/site.webmanifest">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/app//logo/Icon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/static/app//logo/Icon/android-chrome-512x512.png">


</head>

<body class="">

    <main class="main main-visible">

        <div class="main-inner">

            <!-- Begin mobile main menu -->
            <nav class="mob-main-mnu" style="padding-top: 80px; height: 60%;">
                <div class="mob-main-mnu-content">
                    <ul class="mob-main-mnu-list">
                        <li class="">
                            <a href="/about">Haqqımızda</a>

                            <div class="mob-main-submnu" style="display: none;">
                                <div class="mob-main-submnu-item">

                                </div>
                            </div>
                        </li>
                        <li class="">
                            <a href="/gallery">Qalereya</a>

                            <div class="mob-main-submnu" style="display: none;">
                                <div class="mob-main-submnu-item">

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/products">Məhsullar</a>
                            <div class="mmm-btn"><i class="material-icons md-24">expand_more</i></div>
                            <div class="mob-main-submnu">
                                <div class="mob-main-submnu-item">
                                    <ul>
                                        {% for category in categories %}
                                        <li><a href="/category/{{category.id}}">{{category.categories_name}}</a></li>
                                        {% endfor %}
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="/choose">Öz yağını seç</a>

                        </li>
                        <li>
                            <a href="/news">Xəbərlər</a>

                        </li>
                        <li>
                            <a href="/contact">Əlaqə</a>

                        </li>
                    </ul>
                </div>
            </nav><!-- End mobile main menu -->

            <!-- Begin header -->
            <header class="header">
                <!-- Begin header top -->
                <nav class="header-top">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto">
                                <!-- Begin header top info -->
                                <ul class="header-top-info">
                                    <li>
                                        <a href="mailto:indikator@gmail.com">
                                            <i class="fas fa-envelope"></i>
                                            <span>indikator@gmail.com</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:+994 51 548 05 05" class="formingHrefTel">
                                            <i class="fas fa-phone-alt"></i>
                                            <span>+994 51 548 05 05</span>
                                        </a>
                                    </li>
                                </ul><!-- Ennd header top info -->
                            </div>
                            <div class="col-auto">
                                <div class="header-top-links">
                                    <!-- Begin social links -->
                                    <ul class="social-links">
                                        <li>
                                            <a href="https://www.facebook.com/%C4%B0ndikator-Ya%C4%9F-M%C9%99rk%C9%99zi-104879538260922/" title="Facebook" style="height: 25px;">
                                                <span><i class="fab fa-facebook-f"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!" title="Instagram" style="height: 25px;">
                                                <span><i class="fab fa-instagram"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!" title="LinkedIn" style="height: 25px;">
                                                <span><i class="fab fa-linkedin"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!" title="Whatsapp" style="height: 25px;">
                                                <span><i class="fab fa-whatsapp"></i></span>
                                            </a>
                                        </li>
                                        <!-- Whatsapp Api -->
                                        <!-- <div class="elfsight-app-4193b5a0-e9c1-4768-b2bc-072784bc0029" style="top: 430px;"></div>
                                        <script src="https://apps.elfsight.com/p/platform.js" defer></script> -->
                                    </ul><!-- End social links -->

                                </div>
                            </div>
                        </div>
                    </div>
                </nav><!-- End header top -->
                <!-- Begin header fixed -->
                <nav class="header-fixed fixed" style="z-index: 101; position: relative; top: 0px; margin-bottom:30px">
                    <div class="container">
                        <div class="row flex-nowrap align-items-center justify-content-between">
                            <div class="col-auto d-block d-lg-none header-fixed-col">
                                <div class="main-mnu-btn">
                                    <span class="bar bar-1"></span>
                                    <span class="bar bar-2"></span>
                                    <span class="bar bar-3"></span>
                                    <span class="bar bar-4"></span>
                                </div>
                            </div>
                            <div class="col-auto header-fixed-col">
                                <!-- Begin logo -->
                                <!-- Begin logo -->
                                <a href="/" class="logo logo-ico-widht-text" title="Indikator">
                                    <img class="lazy logo-ico" src="/static/app//logo/indikator-logo.png" alt="" data-loaded="true"
                                        width="36" height="35"
                                        style="height: 60px;width: 160px;margin-left: 10px; ">
                                </a>
                            </div>
                            <div class="col-lg col-auto col-static header-fixed-col">
                                <div class="row flex-nowrap align-items-center justify-content-end">
                                    <div class="col-auto header-fixed-col d-none d-lg-block col-static">
                                        <!-- Begin main menu -->
                                        <nav class="main-mnu">
                                            <ul class="main-mnu-list">
                                                <li class="main-mnu-item-has-child">
                                                    <a href="/about" data-title="Haqqımızda" class="uppercase">
                                                        <span>Haqqımızda</span>
                                                    </a>
                                                </li>
                                                
                                                <li class="main-mnu-item-has-child">
                                                    <a href="/products" data-title="Məhsullar">
                                                        <span>Məhsullar</span>
                                                        <i class="fas fa-chevron-down"></i>
                                                    </a>
                                                    <ul>
                                                        {% for category in categories %}
                                                        <li><a href="/category/{{category.id}}"
                                                            data-title="{{category.categories_name}}"><span>{{category.categories_name}}</span></a></li>
                                                        {% endfor %}
                                                        
                                                        
                                                    </ul>
                                                </li>
                                                <li class="main-mnu-item-has-child open main-mnu-item-mega-mnu">
                                                    <a href="/choose" data-title="Öz yağını seç">
                                                        <span>Öz yağını seç</span>
                                                    </a>
                                                </li>
                                                <li class="main-mnu-item-has-child">
                                                    <a href="/news" data-title="Xəbərlər">
                                                        <span>Xəbərlər</span>
                                                    </a>
                                                    <li class="main-mnu-item-has-child">
                                                        <a href="/gallery" data-title="Qalereya" class="uppercase">
                                                            <span>Qalereya</span>
                                                        </a>
                                                    </li>
                                                </li>
                                                <li class="main-mnu-item-has-child">
                                                    <a href="/contact" data-title="Əlaqə">
                                                        <span>Əlaqə</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav><!-- End main menu -->
                                    </div>
                                    <div class="col-auto header-fixed-col col-static">
                                        <!-- Begin header actions -->
                                        <ul class="header-actions">

                                            <!-- Begin header search -->
                                            <li>
                                                <div class="header-search">
                                                    <div class="header-action-icon header-search-ico">
                                                        <i
                                                            class="material-icons md-22 header-search-ico-search">search</i>
                                                        <i
                                                            class="material-icons md-22 header-search-ico-close">close</i>
                                                    </div>
                                                    <form action="#!" method="post" class="header-search-form">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="form-field">
                                                                        <label for="field-search"
                                                                            class="form-field-label">Axtarış</label>
                                                                        <input type="search" class="form-field-input"
                                                                            name="Search" autocomplete="off"
                                                                            required="required" id="field-search">
                                                                        <button type="submit"
                                                                            class="header-search-btn"><i
                                                                                class="material-icons md-22">search</i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </li>
                                            <!-- End header search -->
                                            <!-- Begin header navbar -->
                                            <li class="d-block d-lg-none">
                                                <div class="header-navbar">
                                                    <div class="header-navbar-btn">
                                                        <i class="material-icons md-24">more_vert</i>
                                                    </div>
                                                    <ul class="header-navbar-content">
                                                        <li>
                                                            <a href="mailto:indikator@gmail.com">
                                                                <i class="material-icons md-20">mail_outline</i>
                                                                <span>indikator.az@gmail.com</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="tel:+994 51 548 05 05" class="formingHrefTel">
                                                                <i class="material-icons md-20">support_agent</i>
                                                                <span>+994 51 548 05 05</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <!-- Begin social links -->
                                                            <ul class="social-links">
                                                                <li>
                                                                    <a href="#!" title="Facebook" style="height: 25px;">
                                                                        <span><i class="fab fa-facebook-f"></i></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#!" title="Instagram"
                                                                        style="height: 25px;">
                                                                        <span><i class="fab fa-instagram"></i></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#!" title="LinkedIn" style="height: 25px;">
                                                                        <span><i class="fab fa-linkedin"></i></span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#!" title="Whatsapp" style="height: 25px;">
                                                                        <span><i class="fab fa-whatsapp"></i></span>
                                                                    </a>
                                                                </li>
                                                            </ul><!-- End social links -->
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li><!-- End header navbar -->
                                        </ul><!-- End header actions -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div style="display: none; width: 751px; height: 80px; float: none;"></div><!-- End header fixed -->
            </header><!-- End header -->
            {% block content %}
            data
            {% endblock %}
            <!-- Begin footer -->
        <footer class="footer">
            <div class="footer-main">
                <div class="container">
                    <div class="row items">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-12 item">
                            <!-- Begin company info -->
                            <div class="footer-company-info">
                                <div class="footer-company-top">
                                    <a href="/" class="logo logo-ico-widht-text" title="Indikator">
                                        <img class="lazy logo-ico" src="/static/app//logo/indikator-logo.png" alt="" width="36"
                                            height="35"
                                            style="height: 75px;width: 175px;margin-left: 40px; ">
                                    </a>
                                    <div class="footer-company-desc">
                                        <p>İndikator Avto 2018-ci ildə ilk olaraq avtomobil ehtiyat hissələrinin satışı
                                            ilə fəaliyyətə başlayıb.Əsas prinsipimiz müştərilərə hər zaman keyfiyyətli
                                            məhsullar təqdim etmək və keyfiyyətli xidmət göstərməkdir.</p>
                                    </div>
                                </div>
                                <ul class="footer-social-links">
                                    <li>
                                        <a href="https://www.facebook.com/%C4%B0ndikator-Ya%C4%9F-M%C9%99rk%C9%99zi-104879538260922/" title="Facebook">
                                            <span class="icon-style">
                                                <i class="fab fa-facebook-square"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" title="Instagram">
                                            <span class="icon-style">
                                                <i class="fab fa-instagram-square"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" title="LinkedIn">
                                            <span class="icon-style">
                                                <i class="fab fa-linkedin"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" title="Twitter">
                                            <span class="icon-style">
                                                <i class="fab fa-twitter-square"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End company info -->
                        </div>
                        <div class="col-xl-2 offset-xl-1 col-md-3 col-5 col-lg-2 item">
                            <div class="footer-item">
                                <h4 class="footer-item-title">Yararlı linklər</h4>
                                <nav class="footer-nav">
                                    <ul class="footer-mnu">
                                        <li><a href="/about" class="hover-link"
                                                data-title="About Us"><span>Haqqımızda</span></a></li>
                                        <li><a href="/products" class="hover-link"
                                                data-title="Services"><span>Məhsullar</span></a></li>
                                        <li><a href="/news" class="hover-link"
                                                data-title="News"><span>Xəbərlər</span></a></li>
                                                <li><a href="/gallery" class="hover-link"
                                                    data-title="Gallery"><span>Qalereya</span></a></li>
                                        <li><a href="/contact" class="hover-link"
                                                data-title="Contact Us"><span>Əlaqə</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-7 item">
                            <div class="footer-item">
                                <h4 class="footer-item-title">Məhsullar</h4>
                                <nav class="footer-nav">
                                    <ul>
                                        {% for category in categories %}
                                        <li class="footer-item-nav-title"><a href="/category/{{category.id}}">{{category.categories_name}}</a></li>
                                        {% endfor %}
                                        
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 col-12 item">
                            <div class="footer-item">
                                <h4 class="footer-item-title">Bizimlə əlaqə</h4>
                                <ul class="footer-contacts">
                                    <li>
                                        <i class="material-icons md-22">location_on</i>
                                        <div class="footer-contact-info">
                                            Suraxanı rayonu Yeni Ramana qəsəbəsi
                                        </div>
                                    </li>
                                    <li>
                                        <i class="material-icons md-22 footer-contact-tel">smartphone</i>
                                        <div class="footer-contact-info">
                                            <a href="tel:+994 51 548 05 05" class="formingHrefTel">+994 51 548 05 05</a>
                                            <a href="tel:+994 51 548 05 05"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="material-icons md-22 footer-contact-email">email</i>
                                        <div class="footer-contact-info">
                                            <a href="mailto:indikator.az@gmail.com">indikator.az@gmail.com</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row justify-content-between items">

                        <div class="col-md-auto col-12 item">
                            <div class="copyright">© Indikator.az 2021. Site by MAD Corporation.Bütün hüquqlar qorunur.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End footer -->
        <script src="/static/app//js/jquery_003.js"></script>
        <script src="/static/app//js/lozad.js"></script>
        <script src="/static/app//js/custom.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <div class="mf-bg"></div>
        <div class="btn-top"></div>
</body>

</html>