<title>{{Categories.query.filter_by(id=selected_category.id).first().categories_name}}</title>
{% extends "app/base.html" %}


{% block content %}
            <!-- Begin latest news -->
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <h1>{{Categories.query.filter_by(id=selected_category.id).first().categories_name}}</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Begin shop sorting -->
                    <div class="row gutters-20 align-items-center shop-sorting">
                        <div class="col-lg-4 col-md-6 col-auto">
                            <div class="shop-sorting-items">
                                <div class="shop-sorting-item shop-filter-toggle d-lg-none">
                                    <a class="btn btn-with-icon btn-border btn-small ripple side-open"
                                        data-side=".sidebar-filters">
                                        <i class="material-icons btn-icon-left md-22">filter_list</i>
                                        <span>Filterlə</span>
                                        <span class="el-ripple-circle"></span></a>
                                </div>
                                <div class="shop-sorting-item shop-result-count d-none d-md-block"> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col">
                            <div class="shop-sorting-items justify-content-end">
                                <div class="d-none d-lg-block">
                                    <ul class="shop-sorting-item list-style-none orderby-list hl-list">
                                        <li class="active"><a class="hover-link" href="#!"
                                                data-title="Popularity"><span>Tarixə
                                                    görə</span></a></li>
                                        <li><a href="#!" class="hover-link" data-title="Low price first"><span>Min
                                                    qiymət</span></a></li>
                                        <li><a href="#!" class="hover-link" data-title="High price first"><span>Max
                                                    qiymət</span></a></li>
                                    </ul>
                                </div>
                                <form class="shop-sorting-item shop-ordering d-lg-none" action="#!" method="get">
                                    <div class="form-field form-field-small form-field-m0 focus">
                                        <div class="select">
                                            <select name="orderby" class="shop-orderby" aria-label="Shop order">
                                                <option value="popularity" selected="selected">Tarixə
                                                    görə
                                                </option>
                                                
                                                <option value="date">Min qiymət</option>
                                                <option value="price">Max qiymət</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- End shop sorting -->
                    <div class="row gutters-20">
                        <div class="col-lg-3 col-12">
                            <aside class="sidebar sidebar-filters sidebar-filters-mob">
                                <div class="sidebar-item sidebar-item-margin sidebar-item-style">
                                    <p class="sidebar-item-title item-heading">Məhsullarımız</p>
                                    <ul class="sidebar-cat hl-list sidebar-cat-tree">
                                     {% for category in categories %}
                                        <li class="sidebar-cat-item sidebar-cat-item-has-child ">
                                            <a href="#!" class="sidebar-cat-link hover-link"
                                                data-title="engine_transmission_oils">
                                                <span><strong>{{category.categories_name}}</strong></span>
                                                <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                            </a>
                                 
                                            
                                            
                                           
                                            <ul style="display: none;">
                                          
                                              
                                                {% for    brand in Brands.query.all() %}
                                                

                                               
                                              
                                                    
                                                {% if  Products.query.filter(Products.category_id==category.id,Products.brand_id==brand.id).first()
                                                %}
                                                <li><a href="/brand/{{brand.id}}" class="hover-link"
                                                    data-title="{{brand.brands_name}}"><span>{{brand.brands_name}}</span></a></li>
                                                {% endif %}

                                              



                                          
                                                
                                                
                                                        {% endfor %}
                                            </ul>
                                    
                                           
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>

                                <div class="side-close"><i class="material-icons md-24">close</i></div>
                            </aside>
                        </div>
                        <div class="col-lg-9 col-12">
                            <!-- Begin catalog -->
                            <div class="row gutters-20 catalog">
                                {% if Products.query.filter_by(category_id=selected_category.id).first()%}
                               
                               
                                {% for product in Products.query.filter_by(category_id=selected_category.id) %}
             
                                
                               
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="/products_ext/{{product.id}}" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/uploads/{{product.product_img}}" alt=""
                                                    data-loaded="true">
                                            </a>
                                            <div class="card-badges">
                                                {% if product.product_status=="new" %}
                                                <div class="card-badge card-badge-new">Yeni</div>
                                                
                                                {% elif product.product_status=="rec"  %}
                                                <div class="card-badge card-badge-rec">Tövsiyyə</div>
                                                {% elif  product.product_status=="sale" %}
                                                <div class="card-badge card-badge-sale">Endirim</div>
                                                {% else %}

                                                {% endif %}
                                               
                                            </div>
                                        </header>
                                        <div class="card-info">
                                            <!-- {% for category in categories [:1] %} -->
                                            <div class="card-posted-in" title="{{Categories.query.filter_by(id=product.category_id).first().categories_name}}">
                                                <a href="/category/{{product.category_id}}"><span >{{Categories.query.filter_by(id=product.category_id).first().categories_name}}</span></a>
                                            </div>
                                            <!-- {% endfor %} -->
                                            <h3 class="item-heading card-title">
                                                <a href="/products_ext/{{product.id}}" title="{{product.product_name}}">{{product.product_name}}</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">{{product.product_price}}</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                    
                                </div>
                                
                                {% endfor %}
                                
                                {% else %}
                                <h2>Bu kateqoriyaya uyğun məhsul yoxdur</h2>
                                {% endif %}
                              
                            </div><!-- End catalog -->
                            <div class="row">
                                <div class="col-12">
                                    <br>
                                    <!-- Begin pagination -->
                                    <nav class="pagination">
                                        <ul class="pagination-list">
                                            <li
                                                class="pagination-item-arrow pagination-item-arrow-prev pagination-item-disabled">
                                                <a href="#!"><i class="material-icons md-24">chevron_left</i></a>
                                            </li>
                                            <li class="active"><a href="#!">1</a></li>
                                            <li><a href="#!">2</a></li>
                                            <li><a href="#!">3</a></li>
                                            <li><a href="#!">4</a></li>
                                            <li class="pagination-item-arrow pagination-item-arrow-next"><a href="#!"><i
                                                        class="material-icons md-24">chevron_right</i></a></li>
                                        </ul>
                                    </nav><!-- End pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        {% endblock %}