<title>Öz yağını seç</title>
{% extends "app/base.html" %}


{% block content %}
            <!-- Begin latest news -->
            <section class="section section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <div class="section-subheading"></div>
                                <h2>Öz yağını seç</h2>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin brands item -->
                            <div class="brands-item item-style">
                                <a href="https://www.opetfuchs.com.tr/anasayfa">
                                    <img data-src="" class="lazy" src="/static/app//logo/Brand Logo/opet.jpg" alt=""
                                        data-loaded="true">
                                </a>
                            </div><!-- End brands item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin brands item -->
                            <div class="brands-item item-style">
                                <a href="https://podbor.ravenol.su/">
                                    <img data-src="" class="lazy" src="/static/app//logo/Brand Logo/ravenol.jpg" alt=""
                                        data-loaded="true">
                                </a>
                            </div><!-- End brands item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin brands item -->
                            <div class="brands-item item-style">
                                <a href="https://www.amsoil.com/lookup/auto-and-light-truck/">
                                    <img data-src="" class="lazy" src="/static/app//logo/Brand Logo/amsoil.jpg" alt=""
                                        data-loaded="true">
                                </a>
                            </div><!-- End brands item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin brands item -->
                            <div class="brands-item item-style">
                                <a href="https://www.meguin.de/DE/de/produkte/oelwegweiser.html">
                                    <img data-src="" class="lazy" src="/static/app//logo/Brand Logo/meguin.jpg" alt=""
                                        data-loaded="true">
                                </a>
                            </div><!-- End brands item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin brands item -->
                            <div class="brands-item item-style">
                                <a href="https://liquimoly.ru/podbor-masla/">
                                    <img data-src="" class="lazy" src="/static/app//logo/Brand Logo/liqui-moly.jpg" alt=""
                                        data-loaded="true">
                                </a>
                            </div><!-- End brands item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin brands item -->
                            <div class="brands-item item-style">
                                <a href="https://alpineoil.az/choose_oil">
                                    <img data-src="" class="lazy" src="/static/app//logo/Brand Logo/alpine.png" alt=""
                                        data-loaded="true">
                                </a>
                            </div><!-- End brands item -->
                        </div>

                    </div>
                </div>
            </section><!-- End latest news -->

        </div>

        {% endblock %}