<title>Əlaqə</title>
{% extends "app/base.html" %}


{% block content %}
            <!-- Begin latest news -->
            <section class="section section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <div class="section-subheading"></div>
                                <h2>Əlaqə</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 content-item">
                            <div class="contacts-info-item item-style">
                                <div class="contacts-info-item-ico">
                                    <i class="material-icons md-60">location_on</i>
                                </div>
                                <div class="contacts-info-item-content">
                                    <a href="https://goo.gl/maps/SqNWzuFmMdyFPsHi8">
                                        Indikator Avto Servis<br>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 content-item">
                            <div class="contacts-info-item item-style">
                                <div class="contacts-info-item-ico">
                                    <i class="material-icons md-60 footer-contact-tel">smartphone</i>
                                </div>
                                <div class="contacts-info-item-content">
                                    <div>
                                        <a href="tel:+994 51 567 93 45" class="formingHrefTel">+994 51 567 93 45</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 content-item">
                            <!-- Begin map -->
                            <div class="map map-auto">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.603321015752!2d50.01415437131955!3d40.449963218750014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030615d225e31a1%3A0x84c384b021a4b343!2s%C4%B0ndikator%20Avto!5e0!3m2!1sru!2s!4v1618758341350!5m2!1sru!2s"
                                    width="1100" height="450" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                            </div><!-- End map -->
                        </div>
                    </div>
                </div>
            </section><!-- End latest news -->

        </div>

        {% endblock %}