<title>Qalereya</title>
{% extends "app/base.html" %}

{% block content %}
<!-- Begin latest news -->
<section class="section section-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading"></div>
                    <h2>Qalereya</h2>
                </div>
            </div>
            {% for gallery in gallery_img %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                <div class="brands-item-gal item-style">
                    <a class="example-image-link" href="/static/uploads/{{gallery.gallery_img}}" data-lightbox="example-2" ><img class="example-image" src="/static/uploads/{{gallery.gallery_img}}" alt="image-1" /></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Begin pagination -->
        <nav class="pagination">
            <ul class="pagination-list">
                <li
                    class="pagination-item-arrow pagination-item-arrow-prev pagination-item-disabled">
                    <a href="#!"><i class="material-icons md-24">chevron_left</i></a>
                </li>
                <li class="active"><a href="#!">1</a></li>
                <li><a href="#!">2</a></li>
                <li><a href="#!">3</a></li>
                <li><a href="#!">4</a></li>
                <li class="pagination-item-arrow pagination-item-arrow-next"><a href="#!"><i
                            class="material-icons md-24">chevron_right</i></a></li>
            </ul>
        </nav><!-- End pagination -->
    </div>
</section><!-- End latest news -->
{% endblock %}

        