<title>Ana Səhifə</title>
{% extends "app/base.html" %}


{% block content %}
            <!-- Begin intro -->
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="height: 500px;">
                        <img class="d-block w-100" src="/static/app/logo/Brand Logo/auto-repair-near-me-kent.jpg" alt="First slide" style="object-fit: cover; height:100%">
                      </div>
                      <div class="carousel-item" style="height: 500px;" >
                        <img class="d-block w-100" src="/static/app/logo/Brand Logo/banner-home-2.jpg" alt="Second slide" style="object-fit: cover; height:100%">
                      </div>
                      <div class="carousel-item" style="height: 500px;">
                        <img class="d-block w-100" src="/static/app/logo/Brand Logo/j-r-automotive-services-in-oshkosh_1.jpg" alt="Third slide" style="object-fit: cover; height:100%">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
            <!-- End intro -->



            <!-- Begin advantages -->
            <section class="section section-bg">
                <div class="container">
                    <div class="row items">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <div class="section-subheading"></div>
                                <h2>Niyə məhz biz?</h2>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin choose us item -->
                            <div class="advantages-item">
                                <div class="advantages-item-count">01</div>
                                <div class="advantages-item-info">
                                    <h4 class="advantages-item-title">Yüksək keyfiyyətli xidmət</h4>
                                    <div class="advantages-item-desc">
                                        <p>Bir şey tapa bilmədim</p>
                                    </div>
                                </div>
                            </div><!-- End choose us item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin choose us item -->
                            <div class="advantages-item">
                                <div class="advantages-item-count">02</div>
                                <div class="advantages-item-info">
                                    <h4 class="advantages-item-title">24/7 dəstək</h4>
                                    <div class="advantages-item-desc">
                                        <p>Bir şey tapa bilmədim</p>
                                    </div>
                                </div>
                            </div><!-- End choose us item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin choose us item -->
                            <div class="advantages-item">
                                <div class="advantages-item-count">03</div>
                                <div class="advantages-item-info">
                                    <h4 class="advantages-item-title">Bir şey tapa bilmədim</h4>
                                    <div class="advantages-item-desc">
                                        <p>Bir şey tapa bilmədim</p>
                                    </div>
                                </div>
                            </div><!-- End choose us item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin choose us item -->
                            <div class="advantages-item">
                                <div class="advantages-item-count">04</div>
                                <div class="advantages-item-info">
                                    <h4 class="advantages-item-title">Bir şey tapa bilmədim</h4>
                                    <div class="advantages-item-desc">
                                        <p>Bir şey tapa bilmədim</p>
                                    </div>
                                </div>
                            </div><!-- End choose us item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin choose us item -->
                            <div class="advantages-item">
                                <div class="advantages-item-count">05</div>
                                <div class="advantages-item-info">
                                    <h4 class="advantages-item-title">Bir şey tapa bilmədim <br> burda da</h4>
                                    <div class="advantages-item-desc">
                                        <p>Bir şey tapa bilmədim</p>
                                    </div>
                                </div>
                            </div><!-- End choose us item -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6 item">
                            <!-- Begin choose us item -->
                            <div class="advantages-item">
                                <div class="advantages-item-count">06</div>
                                <div class="advantages-item-info">
                                    <h4 class="advantages-item-title">Bir şey tapa bilmədim</h4>
                                    <div class="advantages-item-desc">
                                        <p>Bir şey tapa bilmədim</p>
                                    </div>
                                </div>
                            </div><!-- End choose us item -->
                        </div>
                    </div>
                </div>
            </section><!-- End advantages -->







            <!-- Begin latest news -->
            <section class="section section-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <div class="section-subheading"></div>
                                <h2>Ən son yeniliklər</h2>
                            </div>
                        </div>
                        {% for post in posts [:3] %}
            <div class="col-lg-4 col-md-6 col-12 item">
                <!-- Begin news item -->
                <article class="news-item item-style">
                    <a href="news/about/{{post.id}}" class="news-item-img">
                        <img class="lazy" src="/static/uploads/{{post.post_img}}" alt=""
                            data-loaded="true">
                    </a>
                    <div class="news-item-info">
                        <div class="news-item-date">{{post.post_time}}</div>
                        <h4 class="news-item-title item-heading">
                            <a href="news/about/{{post.id}}" title="{{post.post_title}}">{{post.post_title}}</a>
                        </h4>
                        <div class="news-item-desc">
                            <p>{{post.post_info}}</p>
                        </div>
                    </div>
                </article><!-- End news item -->
            </div>
            
            {% endfor %}
                        <div class="col-12">
                            <div class="section-btns justify-content-center">
                                <a href="news" class="btn btn-with-icon btn-w240 ripple">
                                    <span>Bütün xəbərləri gör</span>
                                    <span class="el-ripple-circle"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End latest news -->
        </div>
        <!-- Brands -->
        <div class="section-heading heading-center">
            <div class="section-subheading"></div>
            <h2>Brendlər</h2>
        </div>
        <div class="body2">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/opet.jpg" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/amsoil.jpg" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/ravenol.jpg" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/liqui-moly.jpg" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/meguin.jpg" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/alpine.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/bosch-logo.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/logo-k2.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/VARTA_logo.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/meyle.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/denso.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/NGK-b.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/dyo.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/viktor.jpg" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/mann_filter.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/motul.JPG" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/delsa.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/LOGO-areon-1.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide-logo">
                        <img src="/static/app//logo/Brand Logo/coolstream.png" height="100" width="250" alt="" />
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}