{% extends "app/base.html" %}
    {% block content %}
   <!-- Begin main content -->
   <div class="section">
    <div class="container">
        <div class="row content-items">
            <nav class="bread-crumbs">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% for post_info in post_details %}
                            <ul class="bread-crumbs-list">
                                <li>
                                    <a href="index.html">Ana səhifə</a>
                                    <i class="material-icons md-18">chevron_right</i>
                                </li>
                                <li>
                                    <a href="news">Xəbərlər</a>
                                    <i class="material-icons md-18">chevron_right</i>
                                </li>
                                <li><a href="#!">{{post_info.post_list_title}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="col-lg-9 col-12 content-item">
                <div class="news-post">
                    <header class="news-post-header">
                        <h1 class="news-post-title">{{post_info.post_info_title}}</h1>
                        <div class="news-post-meta">
                            <div class="news-post-meta-item">
                                <i class="material-icons md-22">access_time</i>
                                <span>{{post_info.post_info_time}}</span>
                            </div>
                        </div>
                        <div class="news-post-img img-style">
                            <img class="lazy" src="/static/uploads/{{post_info.post_info_img}}" alt="" data-loaded="true">
                        </div>
                    </header>
                    <article class="news-post-article content">
                        <p>{{post_info.post_info_description}}</p>

                    </article>
               
                            {% endfor %} </div>
                <div class="page-sections">
                    <section class="section">
                        <div class="row items">
                            <div class="col-12">
                                <h4>Recent Posts</h4>
                            </div>
                            <div class="col-md-6 col-12 item">
                                <!-- Begin news item -->
                                <article class="news-item item-style">
                                    <a href="#" class="news-item-img">
                                        <img class="lazy" src="/img/Products Image/Amsoil Premium Protection 10W-40.jpg"
                                            alt="">
                                    </a>
                                    <div class="news-item-info">
                                        <div class="news-item-date">07/01/2021</div>
                                        <h4 class="news-item-title item-heading">
                                            <a href="#" title="Benefits Of Async/Await">Lorem ipsum dolor
                                                sit amet consectetur adipisicing elit. Nulla,
                                                reprehenderit.</a>
                                        </h4>
                                        <div class="news-item-desc">
                                            <p>TƏBİB-dən əhaliyə növbəti xəbərdarlıq: Karantin davam edir,
                                                qapanmalar ola bilər - VİDEO</p>
                                        </div>
                                    </div>
                                </article><!-- End news item -->
                            </div>
                            <div class="col-md-6 col-12 item">
                                <!-- Begin news item -->
                                <article class="news-item item-style">
                                    <a href="#" class="news-item-img">
                                        <img class="lazy" src="/img/Products Image/Amsoil SS Motor oil 0W-20.jpg" alt="">
                                    </a>
                                    <div class="news-item-info">
                                        <div class="news-item-date">05/01/2021</div>
                                        <h4 class="news-item-title item-heading">
                                            <a href="#" title="Key Considerations Of IPaaS">Lorem ipsum
                                                dolor sit.</a>
                                        </h4>
                                        <div class="news-item-desc">
                                            <p>TƏBİB-dən əhaliyə növbəti xəbərdarlıq: Karantin davam edir,
                                                qapanmalar ola bilər - VİDEO
                                            </p>
                                        </div>
                                    </div>
                                </article><!-- End news item -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            </aside><!-- End sidebar -->
        </div>
    </div>
</div>
</div><!-- End main content -->

</div>
    {% endblock %}

        