<title>Məhsullar</title>
{% extends "app/base.html" %}


{% block content %}
            <!-- Begin latest news -->
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <h1>Məhsullar</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Begin shop sorting -->
                    <div class="row gutters-20 align-items-center shop-sorting">
                        <div class="col-lg-4 col-md-6 col-auto">
                            <div class="shop-sorting-items">
                                <div class="shop-sorting-item shop-filter-toggle d-lg-none">
                                    <a class="btn btn-with-icon btn-border btn-small ripple side-open"
                                        data-side=".sidebar-filters">
                                        <i class="material-icons btn-icon-left md-22">filter_list</i>
                                        <span>Filterlə</span>
                                        <span class="el-ripple-circle"></span></a>
                                </div>
                                <div class="shop-sorting-item shop-result-count d-none d-md-block"> 1–12 of 44 Nəticə
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col">
                            <div class="shop-sorting-items justify-content-end">
                                <div class="d-none d-lg-block">
                                    <ul class="shop-sorting-item list-style-none orderby-list hl-list">
                                        <li class="active"><a class="hover-link" href="#!"
                                                data-title="Popularity"><span>Populyarlığa görə</span></a></li>
                                        <li><a href="#!" class="hover-link" data-title="Latest"><span>Tarixə
                                                    görə</span></a></li>
                                        <li><a href="#!" class="hover-link" data-title="Low price first"><span>Min
                                                    qiymət</span></a></li>
                                        <li><a href="#!" class="hover-link" data-title="High price first"><span>Max
                                                    qiymət</span></a></li>
                                    </ul>
                                </div>
                                <form class="shop-sorting-item shop-ordering d-lg-none" action="#!" method="get">
                                    <div class="form-field form-field-small form-field-m0 focus">
                                        <div class="select">
                                            <select name="orderby" class="shop-orderby" aria-label="Shop order">
                                                <option value="popularity" selected="selected">Populyarlığa görə
                                                </option>
                                                <option value="rating">Tarixə görə</option>
                                                <option value="date">Min qiymət</option>
                                                <option value="price">Max qiymət</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- End shop sorting -->
                    <div class="row gutters-20">
                        <div class="col-lg-3 col-12">
                            <aside class="sidebar sidebar-filters sidebar-filters-mob">
                                <div class="sidebar-item sidebar-item-margin sidebar-item-style">
                                    <p class="sidebar-item-title item-heading">Məhsullarımız</p>
                                    <ul class="sidebar-cat hl-list sidebar-cat-tree">
                                        
                                        <li class="sidebar-cat-item sidebar-cat-item-has-child ">
                                            <a href="#!" class="sidebar-cat-link hover-link"
                                                data-title="engine_transmission_oils">
                                                <span><strong>Mühərrik və transmissiya yağları</strong></span>
                                                <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                            </a>
                                            <ul style="display: none;">
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Opet"><span>Opet</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Ravenol"><span>Ravenol</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Meguin"><span>Meguin</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Amsoil"><span>Amsoil</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Petro Canada"><span>Petro Canada</span></a></li>
                                                <li><a href="#!" class="hover-link" data-title="Liqui Moly"><span>Liqui
                                                            Moly</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Alpine"><span>Alpine</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="sidebar-cat-item sidebar-cat-item-has-child">
                                            <a href="#!" class="sidebar-cat-link hover-link" data-title="spare_parts">
                                                <span><strong>Ehtiyat hissələri</strong></span>
                                                <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                            </a>
                                            <ul style="display: none;">
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Əyləc qəlibləri"><span>Əyləc qəlibləri</span></a>
                                                </li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Əyləc diskləri"><span>Əyləc diskləri</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Alışdırma şamları"><span>Alışdırma
                                                            şamları</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Filtrlər"><span>Filtrlər</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Qranatlar"><span>Qranatlar</span></a></li>
                                                <li><a href="#!" class="hover-link" data-title="Asqı sistemi"><span>Asqı
                                                            sistemi</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="sidebar-cat-item sidebar-cat-item-has-child">
                                            <a href="#!" class="sidebar-cat-link hover-link" data-title="Autocosmetics">
                                                <span><strong>Avtokosmetika</strong></span>
                                                <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                            </a>
                                            <ul style="display: none;">
                                                <li><a href="#!" class="hover-link" data-title="K2"><span>K2</span></a>
                                                </li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="MojeAuto"><span>MojeAuto</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Areon"><span>Areon</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Aroma"><span>Aroma</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Dr.Marcus"><span>Dr.Marcus</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="sidebar-cat-item sidebar-cat-item-has-child">
                                            <a href="#!" class="sidebar-cat-link hover-link" data-title="Batteries">
                                                <span><strong>Akkumlyatorlar</strong></span>
                                                <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                            </a>
                                            <ul style="display: none;">
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Varta"><span>Varta</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="İnci"><span>İnci</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Gigawatt"><span>Gigawatt</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Bosch"><span>Bosch</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Gladiator"><span>Gladiator</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Sputnik"><span>Sputnik</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="sidebar-cat-item sidebar-cat-item-has-child">
                                            <a href="#!" class="sidebar-cat-link hover-link" data-title="Contribution">
                                                <span><strong>Qatqılar</strong></span>
                                                <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                            </a>
                                            <ul style="display: none;">
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Varta"><span>Amsoil</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="İnci"><span>Alpine</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Gigawatt"><span>Coolstream</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Bosch"><span>Ravenol</span></a></li>
                                                <li><a href="#!" class="hover-link"
                                                        data-title="Gladiator"><span>Meguin</span></a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>

                                <div class="side-close"><i class="material-icons md-24">close</i></div>
                            </aside>
                        </div>
                        <div class="col-lg-9 col-12">
                            <!-- Begin catalog -->
                            <div class="row gutters-20 catalog">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="products_ext" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/app//img/Products Image/Petro Canada ATF Duradrive CVT.png" alt=""
                                                    data-loaded="true">
                                            </a>
                                            <div class="card-badges">
                                                <div class="card-badge card-badge-sale">Endirim</div>
                                            </div>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#" class="card-category"
                                                    title="Transmissiya yağları">Transmissiya yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="products_ext" title="Green seedless grapes">Petro Canada ATF Duradrive
                                                    CVT</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">20 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy" src="/static/app//img/Products Image/Amsoil SS Motor oil 0W-20.jpg"
                                                    alt="" data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category" title="Mühərrik yağları">Mühərrik
                                                    yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="Amsoil SS Motor oil 0W-20">Amsoil SS Motor oil
                                                    0W-20</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">27 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/app//img/Products Image/Amsoil Premium Protection 10W-40.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                            <div class="card-badges">
                                                <div class="card-badge card-badge-new">Yeni</div>
                                            </div>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category" title="Mühərrik yağları">Mühərrik
                                                    yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="Amsoil Premium Protection 10W-40">Amsoil Premium
                                                    Protection 10W-40</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">20 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy" src="/static/app//img/Products Image/Meguin GL4 75W90.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category"
                                                    title="Transmissiya yağları">Transmissiya yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="Green seedless grapes">Meguin GL4 75W90</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">19 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy" src="/static/app//img/Products Image/Amsoil Classic ESP 0W-40.jpg"
                                                    alt="" data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category" title="Qatqılar">Mühərrik yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="Amsoil Classic ESP 0W-40">Amsoil Classic ESP
                                                    0W-40</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">28 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/app//img/Products Image/VARTA 110 AH İ1 R+ Silver Dynamic.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                            <div class="card-badges">
                                                <div class="card-badge card-badge-rec">Tövsiyyə </div>
                                            </div>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category"
                                                    title="Akkumlyatorlar">Akkumlyatorlar</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="VARTA 110 AH İ1 R+ Silver Dynamic">VARTA 110 AH İ1 R+
                                                    Silver Dynamic</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">313 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/app//img/Products Image/Liqui Moly Diesel Synthoil 5W-40.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category" title="Mühərrik yağları">Mühərrik
                                                    yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="" title="Liqui Moly Diesel Synthoil 5W-40">Liqui Moly Diesel
                                                    Synthoil 5W-40</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">28 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/app//img/Products Image/Liqui Molly Direkt Injection Reiniger.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category" title="Qatqılar">Qatqılar</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="Liqui Molly Direkt Injection Reiniger">Liqui Molly
                                                    Direkt Injection Reiniger</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">55 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="#" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/app//img/Products Image/Liqui Moly Leichtlauf Motoroil 10W-40 HD.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category" title="Mühərrik yağları">Mühərrik
                                                    yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="" title="Liqui Moly Leichtlauf Motoroil 10W-40 HD">Liqui Moly
                                                    Leichtlauf Motoroil 10W-40 HD</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">20 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="" class="card-image">
                                                <img data-src="" class="lazy" src="/static/app//img/Products Image/Petro Canada ATF Dexron VI.jpg"
                                                    alt="" data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category"
                                                    title="Transmissiya yağları">Transmissiya yağları</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="Petro Canada ATF Dexron VI">Petro Canada ATF Dexron
                                                    VI</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">20 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/app//img/Products Image/Liqui Molly Antifreeze Concentrate KFS 12+.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category" title="Qatqılar">Qatqılar</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="" title="Liqui Molly Antifreeze Concentrate KFS 12+">Liqui
                                                    Molly Antifreeze Concentrate KFS 12+</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">92 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="" class="card-image">
                                                <img data-src="" class="lazy" src="/static/app//img/Products Image/VARTA 155 AH L2 R+.jpg" alt=""
                                                    data-loaded="true">
                                            </a>
                                        </header>
                                        <div class="card-info">
                                            <div class="card-posted-in">
                                                <a href="#!" class="card-category"
                                                    title="Akkumlyatorlar">Akkumlyatorlar</a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="#" title="VARTA 155 AH L2 R+">VARTA 155 AH L2 R+</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">391 AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                            </div><!-- End catalog -->
                            <div class="row">
                                <div class="col-12">
                                    <br>
                                    <!-- Begin pagination -->
                                    <nav class="pagination">
                                        <ul class="pagination-list">
                                            <li
                                                class="pagination-item-arrow pagination-item-arrow-prev pagination-item-disabled">
                                                <a href="#!"><i class="material-icons md-24">chevron_left</i></a>
                                            </li>
                                            <li class="active"><a href="#!">1</a></li>
                                            <li><a href="#!">2</a></li>
                                            <li><a href="#!">3</a></li>
                                            <li><a href="#!">4</a></li>
                                            <li class="pagination-item-arrow pagination-item-arrow-next"><a href="#!"><i
                                                        class="material-icons md-24">chevron_right</i></a></li>
                                        </ul>
                                    </nav><!-- End pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

        {% endblock %}