<title>{{product.product_name}}</title>
{% extends "app/base.html" %}


{% block content %}
            <!-- Begin latest news -->
            <nav class="bread-crumbs">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="bread-crumbs-list">
                                <li>
                                    <a href="/">Ana səhifə</a>
                                    <i class="material-icons md-18">chevron_right</i>
                                </li>
                                <li>
                                    <a href="/products">Məhsullar</a>
                                    <i class="material-icons md-18">chevron_right</i>
                                </li>
                                <li>
                                    <a href="/category/{{product.category_id}}">{{Categories.query.filter_by(id=product.category_id).first().categories_name}}</a>
                                    <i class="material-icons md-18">chevron_right</i>
                                </li>
                                <li>
                                    <a href="/products">{{Brands.query.filter_by(id=product.brand_id).first().brands_name}}</a>
                                    <i class="material-icons md-18">chevron_right</i>
                                </li>
                                <li><a href="/products">{{product.product_name}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading card-page-heading2">
                                <h1>{{product.product_name}}</h1>
                            </div>
                            <div class="tabs">
                                <ul class="tabs-nav">
                                    <li class="active">Məhsul haqqında</li>
                                    <li class="">Ətraflı məlumat</li>
                                </ul>
                                <div class="tabs-container">
                                    <div class="tabs-item active">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="product-carusel">
                                                    <div class="img-style product-carusel-main flickity-enabled is-draggable"
                                                        tabindex="0">


                                                        <div class="card-badges">
                                                            <div class="{{product.product_sale}}">{{product.product_sale_name}}</div>
                                                        </div>
                                                        <div class="flickity-viewport"
                                                            style="height: 538px; touch-action: pan-y;">
                                                            <div class="flickity-slider"
                                                                style="left: 0px; transform: translateX(0%);">
                                                                <div class="card-image pcm-item is-selected"
                                                                    style="position: absolute; left: 0%;">
                                                                    <img src="/static/uploads/{{product.product_img}}"
                                                                        alt="">
                                                                </div>
                                                                <div class="card-image pcm-item"
                                                                    style="position: absolute; left: 100%;"
                                                                    aria-hidden="true">
                                                                    <img src="" alt="" class="flickity-lazyloaded">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-carusel-thumb flickity-enabled is-draggable"
                                                        tabindex="0">
                                                        <div class="flickity-viewport"
                                                            style="height: 126px; touch-action: pan-y;">
                                                            <div class="flickity-slider"
                                                                style="left: 0px; transform: translateX(0%);">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="product-info">
                                                    <div class="product-info-main">
                                                        <div class="card-prices card-page-prices cp-item">
                                                            <div class="card-price">{{product.product_price}}</div>
                                                            <div class="card-old-price">{{product.product_old_price}}</div>
                                                        </div>
                                                        <div class="card-section-desc cp-item">
                                                            <p>{{product.product_simple_description}}</p>
                                                        </div>

                                                        
                                                    </div>
                                                    <div class="card-page-actions">
                                                        <ul class="list-style-none card-page-meta">
                                                            <li>
                                                                <b>Məhsullar:</b>
                                                                <div><a href="/category/{{product.category_id}}">{{Categories.query.filter_by(id=product.category_id).first().categories_name}}</a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <b>Məhsul:</b>
                                                                <div><a href="/products">{{Brands.query.filter_by(id=product.brand_id).first().brands_name}}</a></div>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs-item content">
                                        <p>{{product.product_details_description}}</p>
                                    </div>


                                </div>
                
                            </div>
                        </div>
                    </div>
                    <div class="row gutters-20 related-products-row">
						<div class="col-12">
							<h4>Oxşar məhsullar</h4>
						</div>
                        {% if Categories.query.filter_by(id=product.category_id).first() %}
                        
                       {% for similar_product in Products.query.filter_by(category_id=product.category_id) if similar_product.id!=product.id %}
                       

                       <div class="col-lg-3 col-sm-6 card-item">
                        <!-- Begin card -->
                        <div class="item-style card">
                            <header class="card-header">
                                <a href="/products_ext/{{similar_product.id}}" class="card-image">
                                    <img  class="lazy" src="/static/uploads/{{similar_product.product_img}}" alt="" data-loaded="true">
                                </a>
                                <div class="card-badges">
                                    <div class="card-badge card-badge-sale">Endirim</div>
                                </div>
                            </header>
                            <div class="card-info">
                                <div class="card-posted-in">
                                    <a href="/category/{{product.category_id}}" class="card-category" title="{{Categories.query.filter_by(id=similar_product.category_id).first().categories_name}}">{{Categories.query.filter_by(id=similar_product.category_id).first().categories_name}}</a>
                                </div>
                                <h3 class="item-heading card-title">
                                    <a href="/products_ext/{{similar_product.id}}" title="{{similar_product.product_name}}">{{similar_product.product_name}}</a>
                                </h3>
                                <div class="card-prices">
                                    <div class="card-price">{{similar_product.product_price}}</div>
                                </div>
                            </div>
                        </div><!-- End card -->
                    </div>
                       {% endfor %}
                        {% endif %}
						</div>
					</div>
                </div>
        </div>
        </div>
        </div>
        </nav><!-- End latest news -->

        </div>

        {% endblock %}