<title>Məhsullar</title>
{% extends "app/base.html" %}


{% block content %}
            <!-- Begin latest news -->
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <h1>Məhsullar</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Begin shop sorting -->
                    <div class="row gutters-20 align-items-center shop-sorting">
                        <div class="col-lg-4 col-md-6 col-auto">
                            <div class="shop-sorting-items">
                                <div class="shop-sorting-item shop-filter-toggle d-lg-none">
                                    <a class="btn btn-with-icon btn-border btn-small ripple side-open"
                                        data-side=".sidebar-filters">
                                        <i class="material-icons btn-icon-left md-22">filter_list</i>
                                        <span>Filterlə</span>
                                        <span class="el-ripple-circle"></span></a>
                                </div>
                                <div class="shop-sorting-item shop-result-count d-none d-md-block"> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6 col">
                            <div class="shop-sorting-items justify-content-end">
                                <div class="d-none d-lg-block">
                                    <ul class="shop-sorting-item list-style-none orderby-list hl-list">
                                        <li class="hover-link"><a class="hover-link" href="/products"
                                                data-title="Popularity"><span>Tarixə
                                                    görə</span></a></li>
                                        <li><a href="/products/min" class="hover-link" data-title="Low price first"><span>Min
                                                    qiymət</span></a></li>
                                        <li><a href="/products/max" class="hover-link" data-title="High price first"><span>Max
                                                    qiymət</span></a></li>
                                    </ul>
                                </div>
                                <form class="shop-sorting-item shop-ordering d-lg-none" action="#!" method="get">
                                    <div class="form-field form-field-small form-field-m0 focus">
                                        <div class="select">
                                            <select name="orderby" class="shop-orderby" aria-label="Shop order">
                                                <option value="popularity" selected="selected">Tarixə
                                                    görə
                                                </option>
                                                <option value="date">Min qiymət</option>
                                                <option value="price">Max qiymət</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- End shop sorting -->
                    <div class="row gutters-20">
                        <div class="col-lg-3 col-12">
                            <aside class="sidebar sidebar-filters sidebar-filters-mob">
                                <div class="sidebar-item sidebar-item-margin sidebar-item-style">
                                    <p class="sidebar-item-title item-heading">Məhsullarımız</p>
                                    <ul class="sidebar-cat hl-list sidebar-cat-tree">
                                        
                                        {% for category in categories %}
                                        <li class="sidebar-cat-item sidebar-cat-item-has-child ">
                                            <a href="#!" class="sidebar-cat-link hover-link"
                                                data-title="{{category.categories_name}}">
                                                <span><strong>{{category.categories_name}}</strong></span>
                                                <i class="material-icons md-22 sidebar-cat-icon">chevron_right</i>
                                            </a>
                                 
                                            
                                            
                                           
                                            <ul style="display: none;">
                                          
                                              
                                                {% for brand in Brands.query.all() %}
                                                

                                               
                                              
 
                                                {% if  Products.query.filter(Products.category_id==category.id,Products.brand_id==brand.id).first()
                                                %}
                                                <li><a href="/brand/{{brand.id}}" class="hover-link"
                                                    data-title="{{brand.brands_name}}"><span>{{brand.brands_name}}</span></a></li>
                                                {% endif %}

                                              



                                          
                                                
                                                
                                                        {% endfor %}
                                            </ul>
                                    
                                           
                                        </li>
                                        {% endfor %}
                                       
                                        

                                    </ul>
                                </div>

                                <div class="side-close"><i class="material-icons md-24">close</i></div>
                            </aside>
                        </div>
                        <div class="col-lg-9 col-12">
                            <!-- Begin catalog -->
                            <div class="row gutters-20 catalog">
                                {% for product in products.items %}
                                <div class="col-lg-3 col-md-4 col-sm-4 col-6 item">
                                    <!-- Begin card -->
                                    <div class="item-style card">
                                        <header class="card-header">
                                            <a href="products_ext/{{product.id}}" class="card-image">
                                                <img data-src="" class="lazy"
                                                    src="/static/uploads/{{product.product_img}}" alt=""
                                                    data-loaded="true">
                                            </a>
                                            <div class="card-badges">
                                                {% if product.product_status=="new" %}
                                                <div class="card-badge card-badge-new">Yeni</div>
                                                
                                                {% elif product.product_status=="rec"  %}
                                                <div class="card-badge card-badge-rec">Tövsiyyə</div>
                                                {% elif  product.product_status=="sale" %}
                                                <div class="card-badge card-badge-sale">Endirim</div>
                                                {% else %}

                                                {% endif %}
                                               
                                            </div>
                                        </header>
                                        <div class="card-info"> 
                                            <div class="card-posted-in" title="{{Categories.query.filter_by(id=product.category_id).first().categories_name}}">
                                                <a href="/category/{{product.category_id}}"><span >{{Categories.query.filter_by(id=product.category_id).first().categories_name}}</span></a>
                                            </div>
                                            <h3 class="item-heading card-title">
                                                <a href="products_ext/{{product.id}}" title="{{product.product_name}}">{{product.product_name}}</a>
                                            </h3>
                                            <div class="card-prices">
                                                <div class="card-price">{{product.product_price}} AZN</div>
                                            </div>
                                        </div>
                                    </div><!-- End card -->
                                </div>
                                
                                {% endfor %}
                            </div><!-- End catalog -->
                            <div class="row">
                                <div class="col-12">
                                    <br>
{#                                    <!-- Begin pagination -->#}
{#                                    <nav class="pagination">#}
{#                                        <ul class="pagination-list">#}
{#                                            <li#}
{#                                                class="pagination-item-arrow pagination-item-arrow-prev pagination-item-disabled">#}
{#                                                <a href="#!"><i class="material-icons md-24">chevron_left</i></a>#}
{#                                            </li>#}
{#                                            <li class="active"><a href="#!" active-pag="1">1</a></li>#}
{#                                            <li><a href="#!"active-pag="11">2</a></li>#}
{#                                            <li><a href="#!"active-pag="21">3</a></li>#}
{#                                            <li><a href="#!"active-pag="31">4</a></li>#}
{#                                            <li class="pagination-item-arrow pagination-item-arrow-next"><a href="#!"><i#}
{#                                                        class="material-icons md-24">chevron_right</i></a></li>#}
{#                                        </ul>#}
{#                                    </nav><!-- End pagination -->#}
{#                                    {% if is_paginated %}#}
{#                                    <div class="row">#}
{#                                        <div class="col-lg-12">#}
{#                                            <div class="d-flex align-items-center justify-content-center"#}
{#                                                 aria-label="stores-pagination">#}
{#                                                <ul class="pagination">#}
{#                                                    <!-- First condition -->#}
{#                                                    {% if page_obj.has_previous %}#}
{#                                                        <li class="page-item">#}
{#                                                        href="{% url 'core:shops' %}?page={{ page_obj.previous_page_number }}&country={{filter_country}}"#}
{#                                                            <a class="page-link" href="{{ url_for('products_index') }}"  aria-label="Previous">#}
{#                                                                <img src="{{url_for('static/uploads', filename='previous.svg')}}" alt="previous">#}
{#                                                            </a>#}
{#                                                        </li>#}
{#                                                    {% endif %}#}
{##}
{#                                                    {% for page_number in page_range %}#}
{#                                                        <li class="page-item {% if page_obj.number == page_index %} active {% endif %}"><a class="page-link"  href="{{ url_for('products_index') }}">{{page_number}}</a></li>#}
{#                                                    {% endfor %}#}
{##}
{#                                                    {% if page_obj.has_next %}#}
{#                                                        <li class="page-item">#}
{#                                                            <a class="page-link"  href="{{ url_for('products_index') }}"  aria-label="Next">#}
{#                                                                <img src="{{url_for('static/uploads', filename='next.svg')}}" alt="previous">#}
{#                                                            </a>#}
{#                                                        </li>#}
{#                                                    {% endif %}#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    {% endif %}#}
                                {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                 {% if page_num %}
                                     {% if products.page == page_num %}
                                       <a class="btn btn-info mb-4" href="{{ url_for('products_index', page=page_num) }}">{{ page_num }}</a>
                                     {% else %}
                                         <a class="btn btn-outline-info mb-4" href="{{ url_for('products_index', page=page_num) }}">{{ page_num }}</a>
                                     {% endif %}
                                     {% else %}
                                        ...
                                     {% endif %}
                                 {% endfor %}


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <script src="../../static/app/js/jquery_003.js"></script>#}
    <script>

      $(document).ready(function() {

    $(document).on('click', '.page-link', function(event) {

      var link = $(this).attr('href');
      searchResults(link);
      event.preventDefault();

  });
});

  var searchResults = function(link) {
      req=$.ajax({
        data : {
          parameter1: $('input[name="parameter1"]').val()
        },
        type: 'POST',
        url: link

      });
      req.done(function(data) {
        $('#products').html(data);
      })
  };

    </script>
        {% endblock %}