{% extends "admin/base.html" %} {% block content %}
<h3 class="my-2">Şəkil əlavə et</h3>
<form action="/admin/gallery"method='POST' enctype="multipart/form-data">
    <input type="file" name="gallery_img" class="form-control my-2" placeholder="Xəbərin şəkli">
    <input type="submit"  class="btn btn-primary my-2" value="Əlavə et">
</form>
<h3 class="my-2">Qalereya</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Table</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for gallery in gallery_img %}
        <tr>
            <td scope="row">{{gallery.id}}</td>
            <td>{{gallery.gallery_img}}</td>
            <td>
                <a href="/admin/gallery/delete/{{gallery.id}}">Sil</a>
                <a href="#">Yenilə</a>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock %}