{% extends "admin/base.html" %} {% block content %}
<h3 class="my-2">Xəbərin məzmununu əlavə et</h3>
<form action="/admin/news/info"method='POST' enctype="multipart/form-data">
    <input type="text" name="post_list_title" class="form-control my-2" placeholder="Xəbər listinin başlığı">
    <input type="text" name="post_info_title" class="form-control my-2" placeholder="Xəbərin başlığı">
    <input type="date" name="post_info_time" class="form-control my-2" placeholder="Xəbərin müddəti">
    <input type="file" name="post_info_img" class="form-control my-2" placeholder="Xəbərin şəkli">
    <textarea name="post_info_description" class='form-control my-2' cols="30" rows="10"></textarea>
    <input type="submit"  class="btn btn-primary my-2" value="Əlavə et">
</form>
<h3 class="my-2">Xəbərin məzmunu</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Table</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post_info in posts_details %}
        <tr>
            <td scope="row">{{post_info.id}}</td>
            <td>{{post_info.post_info_title}}</td>
            <td>
                <a href="#">Sil</a>
                <a href="#">Yenilə</a>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock %}