{% extends "admin/base.html" %} {% block content %}

<h3 class="my-2">Məhsul əlavə et</h3>
<form action="/admin/products"method='POST' enctype="multipart/form-data">
    <input type="text" name="product_sale" class="form-control my-2" placeholder="Məhsulun endirimdə və ya yeni olması">
    <input type="text" name="product_category" class="form-control my-2" placeholder="Məhsulun kateqoriyasının linki">
    <input type="text" name="product_category_title" class="form-control my-2" placeholder="Məhsulun kateqoriyasının başlığı">
    <input type="file" name="product_img" class="form-control my-2" placeholder="Məhsulun şəkli">
    <input type="text" name="product_title" class="form-control my-2" placeholder="Məhsulun başlığı">
    <input type="text" name="product_price" class="form-control my-2" placeholder="Məhsulun qiyməti">
    <input type="submit"  class="btn btn-primary my-2" value="Əlavə et">
</form>
<h3 class="my-2">Məhsullar</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Table</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td scope="row">{{post.id}}</td>
            <td>{{post.post_title}}</td>
            <td>
                <a href="#">Sil</a>
                <a href="#">Yenilə</a>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
{% endblock %}